
/* This is the background of the about page */
body{
    background: url('../img/about-page-background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}
/*This is where the title of the about page is */
.climate-change {
    text-align: center;
    padding: 80px 20px 40px;
    color: white;
}
/* This is the font size of the sub titles*/
.climate-change h1{
    font-size: 60px;
}

/* This is setting the cards of info spread out across the page not bunch up in a column */
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    max-width: 1800px;
    margin: 0 auto;
    gap: 20px;
}

/* This is the colour of the cards so the cards won't be transparent and hard to read */
.card{
    background-color: white;
    border-radius: 20px;
    padding: 40px ;
    box-shadow: 0 10px 30px rgba (0,0,0,0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.5s ease;
    max-width: 800px;
    width: 100%;
}
/* This is what happens when you hover over the card*/
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 15px 40px;
}

/* This is setting where the subtitle is and the colour of it */
.card h2 {
    font-size: 40px;
    color: #1B4F72;
    text-align: center;
}
/* This is how big the font of the info inside the card is*/
.card .intro {
    font-size: 18px;
}
/* This is for mobile or smaller screens*/
@media (max-width: 768px) {
    .climate-change{
        padding: 60px 20px 20px;
}
    .climate-change h1{
        font-size: 30px;
    }
    .cards {
    padding: 20px 10px;
    flex-direction: column;
    align-items: stretch;
    }
    .card {
    padding: 30px 20px;
    max-width: none;
    width: 100%;
    }

}