.link{
    color: blue;
}

body {
    background:url("../img/climatechange.jpg");
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}