/*
used sticky positioning so that the navbar stays when scrolling up and down on the website
used z-index so that the navigation bar would always be on top of the other context
*/

nav {
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(0px);
    font-family: "Bebas Neue", sans-serif;
}

nav.scrolled {
    background-color: #85c1e9;
}
/*
the maximum width is going to be 100% so it would fit the whole screen
main axis alignment with the flexbox
applied appropriate margins fot the contents to avoid sticking to the edges
applied user-select none so the user cant select the nav bar
*/

.nav-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:50px;
    user-select:none;
}

/*
kaitiakitanga website
bold font reinforces the environmental themes
zero margin ensure precise layout control within flexbox container
*/
.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    max-height: 60px;
    min-width: 50px;
    vertical-align: middle;
}

.text {
    display: flex;
    align-items: center;
}
.logo .logo-text {
    font-size: 50px;
    font-weight: bold;
    color: #1B4F72;
    margin: 0;
}

/*
use horizontal flexbox layout so that the menu is neatly arranged
 25px spacing creates a good separation gap*/
.menu {
    display: flex;
    gap: 25px;
    }

/*
navigation menu links
white text on MediumSeaGreen makes it optimal to observe
30px providing a excellent size of the font for the user to read
0.1s transition provides smooth feedback*/

.menu a {
    color: white;
    font-size: 30px;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    transition: all 0.1s ease;
    display: block;
}

/*
nav hover effects
*/

.menu a:hover {
    color: pink;
}

/*
mobile hamburger menu toggle
it would be hidden on pc and be activated when on mobile devices
CSS pseudo-elements creates animated toggle between hamburger and close icons
padding provides internal spacing, allowing designers to control the distance between the content and the border of an element.
*/

.menu-toggle {
    display: none;
    font-size: 40px;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease;
}
/*
Hamburger menu hover state
*/

.menu-toggle:hover {
    background-color: pink;
}

/*
Active menu state provides good user feedback
*/

.menu-toggle.active {
    background-color: pink;
    position: relative;
    color: transparent;
}

/*
css element creates close symbol when menu is active
*/

.menu-toggle.active::before {
    content: "x";
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    color:white;
}

.logo-menu {
    display: flex;
    align-items: center;
    gap:50px;
}

.search {
    width: max-content;
    display: flex;
    padding: 14px;
    border-radius: 28px;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
}

.search:focus-within {
    box-shadow: 0 0 2px rgba(0,0,0,0.75);
}

.search-input {
    font-size:16px;
    color:#333333;
    margin-left: 28px;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

.search-input::placeholder,
.search-icon {
    color: rgba (0,0,0,0.5);
}
/* mobile navbar styling*/

@media (max-width:768px) {
    .nav-container {
        padding: 0 0.5rem;
        position: relative;
        background-color: #85c1e9;
    }

    .logo {
        flex: 1;
        text-align: left;

    }
    .logo .logo-text {
        font-size: 50px;
    }

    .menu-toggle {
        display: block;
        margin-left: auto;
    }

    .menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        gap: 0;
        background-color: #85c1e9;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        z-index: 1000;
    }

    .menu.active {
        display: flex;
    }

    .menu a {
        padding: 0.8rem 1.5rem;
        border-radius: 0;
        text-align: center;
        color:black;
    }

    /*remove border from the menu item */
    .menu li:last-child a {
        border-bottom: none;
    }

    /* mobile menu hover effects */
    .menu a:hover {
         background: #2980b9;
         color: white;
    }
    .search{
        display:none;
    }
}